# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries
*.test

# Output of the go coverage tool
*.out

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Dependency directories
vendor/

# SQLite database
*.db
